body {
    margin: 0;
    background-color: #1e1e2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas {
    border-radius: 50%;
    background-color: #2b2b3f;
}